<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Template Design</title>
</head>

<body>

    <table class="table table-bordered 70%" style="border: 2px solid black; border-collapse: collapse; width:80%">
        <thead class="thead-dark">
            <tr>
                {% for hdr in my_headers.split(",") %}
                <td style="text-align:center; font-size:25px; font-weight: bold;">
                    {{ hdr }}
                </td>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in output_data.stdout_lines %}
            <tr>
                {% for data in item.split(",") %}
                <td style="text-align:center;">
                    {{ data }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>